html,
body {
    margin: 0;
    height: 100%;
    overflow: auto;
}


.app-bg {
  background-color: #F5F3F5;
  background: radial-gradient(29.62% 51.89% at 78.54% 48.11%, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #F5F3F5;
}

.tweet {
  background-color: #FFFFFF;
  /* border: 1px solid #e7e7e7; */
  border-radius: 12px;
  padding: 36px;
  opacity: 1;
  transition: 0.3s ease-in-out all;
}

.active {
    transform: scale(1.02);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.passive {
  opacity: 0.5;
}

.tweet .interactions-block {
  visibility: hidden;
}

.tweet:hover .interactions-block {
  visibility: visible;
}
